nav{
    padding: 2px;
    margin: 2px;
    background-color: green;
    grid-row: 3;
    grid-column: 1/13;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 2px;
    display: inline-block;
}
ul{
    display: inline;
    margin:0;
    padding:0;
}
nav li {display: inline-block;}
nav ul li:hover {background: #555;}
nav ul li:hover ul {display: block;}
nav ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
nav ul li ul li {
    background: #555;
    display: block;
}
nav ul li ul li a {display:block !important;}
nav ul li ul li:hover {background: #666;}