
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link {
    text-decoration: none;
}

body{
    display:grid;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: 1fr 5fr ;
    gap: 20px;
}
header {
   
    padding: 2px;
    
    background-color: burlywood;
    grid-area:header;
    grid-column: 1/13;
    grid-row:1;
}
main{
   
    padding: -2px;
    margin-top: -20px;
    margin-bottom: -22px;
    background-color: darkorange;
    grid-column: 1/13;
    grid-row:4;
    display:grid;
}



article {
    padding: 2px;
    margin: 2px;
    display:none;
}
#left{
    grid-area: sidebar;
    grid-column: 1/3;
    grid-row: 1;
    background-color: indianred;
}
#right{
    grid-area:content;
    grid-column: 3/13;
    grid-row: 1;
    background-color:orchid;

}

#slink {
    display: none;
}
#flink:hover article {
    display:block;

}
#flink:hover ~ #slink{
   /* display:block;*/
}

footer {
 
    padding: 2px;
    background-color: darkcyan;
    color: aliceblue;
    grid-area: footer;
    grid-column:1/13;
    grid-row:5;
}

