* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2px 0px;
}
body{
  grid-template: 1fr 1fr;
}
main{
  grid-row:2;
  
  margin-bottom:2px;
  padding-bottom: 2px;
  grid-template-columns: 1fr 3fr;
}
footer{
  padding-top: 2px;
  margin-top: 2px;
  grid-row:3;
}
article{
  background-color:#b69889;
  padding:5px;
  margin:5px;

}
a:link{
  text-decoration:none;
  color: #b69889;
  
}
a:hover{
  color: #75baff;
}

body, html {
    padding: 3px 3px 3px 3px;

    background-color: #89aab6;

    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
}

.b1{
  grid-area: year;
  text-align: left;
  height: auto;
  
}
.b1 a {
  color:#75baff
}
article main ul li { 
  color:aquamarine ;
}
article main ul li ul li {
  color:brown;
  padding-left:10px;


}
article main ul li ul li ul li{
  color: cadetblue;
  padding-left:20px;
  display:block;
}
article main ul li ul li ul li ul li{
  color:chocolate
}
article main ul li ul li ul li ul li ul li{
  color:aqua
}
.b2{
  grid-area: month;
  text-align:left;
  
}
.b3{
  display:grid;
  grid-template: "one two three";  
}
  
.grid-content{
  display:grid;
  width: 100%;
  height: auto;
  grid-template: "year month week" 1fr ;
}
 
.weeknumber{
  display:grid;
  grid-template: "one two three four five six seven eight nin"
}

.holy{
  border:solid;
}
.stage{
  border: solid;
  border-color: green;
}

.weeks{
  display:grid;
  grid-template: "monday tuesday wednesday thusrday friday"
}
.months{
  display:grid;
  grid-template: "septembre october november";
}
.semestre{
  display:grid;
  grid-template: "first second";
}

.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area:three;
}
.wn{
  width:20px;
  background-color: #89aab6;
}